<% include ../partials/header %>

<div class='row'>
    <div class='col-md-4'>
        <h1><%= user.firstName + ' ' + user.lastName %></h1>
        <div class='thumbnail'>
            <img src='<%= user.avatar %>' alt='usr profile image'>
            <div class='caption'>
                <a href='mailto:<%= user.email %>'><%= user.email %></a>
            </div>
        </div>
        If we have 5 background images visible for 5 seconds each, then the time it takes to fade the image in and keep it visible is 10 seconds with a 5 second crossfade/fadeout into the next image; The entire animation cycle for all 5 images takes 50 seconds total
    </div>
    <div class='col-md-8'>
        <h3><%= user.username %>'s campgrounds:</h3>
        <ul>
            <% campgrounds.forEach(function(campground) { %>
                <li><a href='/campgrounds/<%= campground.id %>'><%= campground.name %></a></li>
            <% }) %>            
        </ul>
    </div>
</div>

<% include ../partials/footer %>
